@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
 margin:0;
 padding:0;
 font-family: 'Akaya Telivigala', cursive;
}

body{
 background-color: rgb(150, 223, 245);

}

.container{
display:grid;
place-items:center;
height:100vh;
}
form{
 background-color: rgb(222, 171, 255);
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 width:25vw;
height: 55vh;
border-radius: 15px;
}
input{
 height:5vh;
 width:80%;
 font-size: 22px;
 border-radius: 15px;
 margin: 15px;
 outline: none;
 text-align: center;
 border: none;
}
h1{
 margin-bottom: 30px;
 margin-top: 20px;
 font-size: 50px;
}
h3{
 margin-bottom: -30px;
 font-size: 25px;
}
button{
 background-color: rgb(85, 235, 185);
 font-size: 30px;
 outline: none;
 margin-bottom: 50px;
 border: none;
 border-radius: 15px;
 padding:20px 40px;
}